sudo: true
language: android
jdk: oraclejdk8
android:
  components:
    # Uncomment the lines below if you want to use the latest revision of Android SDK Tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-26

    # Additional components
    - extra-google-m2repository
    - extra-android-m2repository

before_install:
  - git clone --depth=1 https://github.com/urho3d/android-ndk.git $HOME/android-ndk-root
  - export ANDROID_NDK_HOME=$HOME/android-ndk-root

before_deploy:
  - openssl aes-256-cbc -K $encrypted_5b4f70877b4a_key -iv $encrypted_5b4f70877b4a_iv -in .boto.enc -out .boto -d
deploy:
  provider: script
  script: sh deploy.sh
  skip_cleanup: true
after_deploy:
  - rm ~/.boto

