#Android specific
bin
gen
obj
libs/armeabi
libs/armeabi-v7a
libs/arm64-v8a
libs/mips
libs/mips64
libs/x86
libs/x86_64
lint.xml
local.properties
release.properties
ant.properties
*.class
*.apk

#Gradle
.gradle
build
gradle.properties

#Maven
target
pom.xml.*

#Eclipse
.project
.classpath
.settings
.metadata

#IntelliJ IDEA
.idea
*.iml
