<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaway"
    android:installLocation="auto"
    android:versionCode="61"
    android:versionName="3.3">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Required permission to wake phone up for updating -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ui.AdAwayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.AdAway">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.prefs.PrefsActivity"
            android:label="@string/menu_preferences">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ScanAdwareActivity"
            android:label="@string/menu_scan_adware" />
        <activity
            android:name=".ui.tcpdump.TcpdumpLogActivity"
            android:label="@string/menu_tcpdump" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:label="@string/menu_help" />
        <!-- android:configChanges prevents activity from recreating on orientation change -->

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BootService"
            android:exported="false" />

        <provider
            android:name=".provider.AdAwayProvider"
            android:authorities="org.adaway"
            android:exported="false" />
    </application>

</manifest>
