<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaway">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".AdAwayApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdAway.Dark">
        <!--<activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>-->
        <activity
            android:name=".ui.next.NextActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AdAway.Dark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false"
            android:label="@string/welcome_title"
            android:parentActivityName=".ui.next.NextActivity"
            android:theme="@style/Theme.AdAway.Red.NoActionBar" />
        <activity
            android:name=".ui.hosts.HostsSourcesActivity"
            android:exported="false"
            android:label="@string/hosts_title"
            android:parentActivityName=".ui.next.NextActivity" />
        <activity
            android:name=".ui.tcpdump.TcpdumpLogActivity"
            android:label="@string/shortcut_dns_requests" />
        <activity
            android:name=".ui.lists.ListsActivity"
            android:exported="false"
            android:label="@string/lists_title"
            android:parentActivityName=".ui.next.NextActivity" />
        <activity
            android:name=".ui.help.HelpActivity"
            android:exported="false"
            android:label="@string/menu_help"
            android:parentActivityName=".ui.next.NextActivity" />
        <activity
            android:name=".ui.prefs.PrefsActivity"
            android:exported="false"
            android:label="@string/preferences_drawer_item"
            android:parentActivityName=".ui.next.NextActivity" />
        <service
            android:name=".vpn.VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <receiver android:name=".broadcast.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
