<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adaway"
    android:versionName="1.09" android:versionCode="10">
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" android:debuggable="false">
        <activity
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation"
            android:name=".ui.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/menu_hosts_sources"
            android:name=".ui.HostsSourcesActivity"></activity>
        <activity
            android:label="@string/menu_preferences"
            android:name=".ui.PrefsActivity"></activity>
        <activity
            android:name=".ui.PrefsActivityHC"
            android:label="@string/menu_preferences"></activity>
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/menu_help"></activity>
        <activity
            android:label="@string/menu_lists"
            android:name=".ui.ListsActivity"></activity>

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.UpdateCheckAlarmReceiver" />

        <service android:name=".service.UpdateCheckService" />

    </application>
</manifest>