<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="org.adaway"
    android:versionCode="16"
    android:versionName="1.15" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="13" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Required permission to use Google Android Market donations -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:name=".ui.BaseActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/menu_hosts_sources"
            android:name=".ui.HostsSourcesActivity" />
        <activity
            android:excludeFromRecents="true"
            android:label="@string/menu_about"
            android:name=".ui.AboutActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:excludeFromRecents="true"
            android:label="@string/menu_donations"
            android:name=".ui.DonationsActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:label="@string/menu_preferences"
            android:name=".ui.PrefsActivity" />
        <activity
            android:label="@string/menu_preferences"
            android:name=".ui.PrefsActivityHC" />
        <activity
            android:label="@string/menu_help"
            android:name=".ui.HelpActivity" />
        <activity
            android:label="@string/menu_lists"
            android:name=".ui.ListsActivity" />

        <receiver android:name=".service.BootReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.UpdateCheckAlarmReceiver" />

        <service android:name=".service.UpdateCheckService" />

        <!-- - Google Android Market donations -->
        <service android:name=".google.donations.BillingService" />

        <receiver android:name=".google.donations.BillingReceiver" >
            <intent-filter >
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>