<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="org.adaway"
    android:versionCode="33"
    android:versionName="1.32" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Required permission to wake phone up for updating -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required permission to use Google Android Market donations -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".ui.AdAwayApplication"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.ForceOverflow" >
        <activity
            android:name=".ui.BaseActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HostsSourcesActivity"
            android:label="@string/menu_hosts_sources" />
        <activity
            android:name=".ui.AboutActivity"
            android:excludeFromRecents="true"
            android:label="@string/menu_about"
            android:theme="@style/Theme.Sherlock.Dialog" />
        <activity
            android:name=".ui.DonationsActivity"
            android:excludeFromRecents="true"
            android:label="@string/menu_donations"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Sherlock.Dialog" />
        <activity
            android:name=".ui.PrefsActivity"
            android:label="@string/menu_preferences" />
        <activity
            android:name=".ui.TcpdumpActivity"
            android:label="@string/menu_tcpdump" />
        <activity
            android:name=".ui.TcpdumpLogActivity"
            android:label="@string/menu_tcpdump" />
        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/menu_help" />
        <!-- android:configChanges prevents activity from recreating on orientation change -->
        <activity
            android:name=".ui.ListsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu_lists" />

        <receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="com.commonsware.cwac.wakeful"
                android:resource="@xml/wakeful" />
        </receiver>

        <service android:name=".service.UpdateService" >
        </service>

        <receiver android:name=".service.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.ApplyService" />
        <service android:name=".service.RevertService" />

        <!-- - Google Android Market donations -->
        <service android:name=".google.donations.BillingService" />

        <receiver android:name=".google.donations.BillingReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.AdAwayProvider"
            android:authorities="org.adaway"
            android:exported="false" />
    </application>

</manifest>